<html>
    <h1>
        <%= @scene.title %>
    </h1>

<hr/>

<p>
    <%= @scene.body %>
</p>

<% @scene.steps.each do |step| %>

    <p>
      <strong>choice:</strong>
      <%= link_to step.choice, quest_scene_path(@scene.quest, step.target_scene) %>
      <%= step.choice %>
      <%= step.target_scene %>
    </p>
<% end %>

<%= @scene.steps %>
<%= @scene.steps.count %>

<% @scene.steps.each do |step| %>
  <p>
    <%= button_to "Destroy stephen #{step.choice}", url_for([@scene.quest, @scene, step]), method: :delete %>
  </p>
<% end %>

<h2>Add a step:</h2>
<%= form_with model: [ @scene.quest, @scene, @scene.steps.build ] do |form| %>
  <p>
    <%= form.label :choice %><br>
    <%= form.text_field :choice %>
  </p>

  <p>
        <%= form.label :target_scene %><br>
        <%= form.collection_select( :target_scene_id, @scene.quest.scenes, :id, :title, prompt: true) %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= button_to "Destroy this scene", quest_scene_path(@scene.quest, @scene), method: :delete %>

</html>