<html>
    <h1>
        <%= @scene.title %>
    </h1>

<hr/>

<p>
    <%= @scene.body %>
</p>

<% @scene.steps.each do |step| %>

    <p>
      <strong>choice:</strong>
      <%= step.choice %>
      <%= step.target_scene %>
    </p>
<% end %>

<h2>Add a step:</h2>
<%= form_with model: [ @scene.quest, @scene, @scene.steps.build ] do |form| %>
  <p>
    <%= form.label :choice %><br>
    <%= form.text_field :choice %>
  </p>

  <p>
        <%= form.label :target_scene %><br>
        <%= form.collection_select( :target_scene_id, @scene.quest.scenes, :id, :title, prompt: true) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</html>